<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CoordSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CoordSender.Properties.Settings>
            <setting name="TargetServer" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="TargetPort" serializeAs="String">
                <value>10001</value>
            </setting>
            <setting name="SendingInterval" serializeAs="String">
                <value>100</value>
            </setting>
        </CoordSender.Properties.Settings>
    </userSettings>
</configuration>